<<<<<<< HEAD
.inventoryContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;

  width: 100%;
}

=======
>>>>>>> main
.bucket {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
<<<<<<< HEAD

  height: 300px;
  border: 1px solid black;
  border-radius: 5px;

  margin: 5px;
}

.ingredientDisplay {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 1.2em;

  height: 30px;
  width: 250px;

  border: 1px solid black;
  border-radius: 5px;

  margin: 2px;
}

.buttons {
  border-radius: 5px;
  margin: 1px;
}

.upDownButtons {
  font-size: 0.5em;
  /* display: flex;
  flex-direction: column; */
=======
  width: 60%;
  border: 1px solid black;
>>>>>>> main
}
